@font-face {
    font-family: Pretendard-Black;
    src: url('/src/assets/fonts/Pretendard-Black.woff') format('woff');
}
@font-face {
    font-family: Pretendard-Bold;
    src: url('/src/assets/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
    font-family: Pretendard-ExtranBold;
    src: url('/src/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: Pretendard-ExtraLight;
    src: url('/src/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
}
@font-face {
    font-family: Pretendard-Light;
    src: url('/src/assets/fonts/Pretendard-Light.woff') format('woff');
}
@font-face {
    font-family: Pretendard-Medium;
    src: url('/src/assets/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
    font-family: Pretendard-Regular;
    src: url('/src/assets/fonts/Pretendard-Regular.woff') format('woff');
}
@font-face {
    font-family: Pretendard-SemiBold;
    src: url('/src/assets/fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
    font-family: Pretendard-Thin;
    src: url('/src/assets/fonts/Pretendard-Thin.woff') format('woff');
}
